<ion-view class="about-page">
    <ion-nav-title>
      <div class="container0">
          <div class="col-xs-2">
              <div class="logo"></div>
          </div>
          <div class="col-xs-10">
                <a href="{{adv.url}}"><div class="top-advs"><img ng-src="http://b-nero.com/app/public/ads/{{adv.img}}" /></div></a>
          </div>
      </div>
    </ion-nav-title>
  <ion-content scroll="true" class="myContent">
    <div>
      <section class="content">
          <div class="about-us" id="padding-content">
              <div class="page-title">
                  <div class="title-icon"></div>
                  <div class="title-text">من نحن</div>
              </div>
              <div class="clear"></div>
              <div class="about-content">
                  <p>{{about}}</p>
              </div>
          </div>
      </section>
    </div>
  </ion-content>
</ion-view>
