<ion-view class="contact-page">

    <ion-nav-title>
      <div class="container0">
          <div class="col-xs-2">
              <div class="logo"></div>
          </div>
          <div class="col-xs-10">
                <a href="{{adv.url}}"><div class="top-advs"><img ng-src="http://b-nero.com/app/public/ads/{{adv.img}}" /></div></a>
          </div>
      </div>
    </ion-nav-title>
    
  <ion-content scroll="true" class="myContent">
    <section class="content">
      <div class="about-us" id="padding-content">
              <div class="page-title">

                  <div class="title-text main-gallery-page-title">الالبوم</div>
              </div>
              <div class="clear"></div>
              <div class="main-gallery-content">
                  <div class="col-xs-6">
                      <a href="#/tab/our-designs">
                          <img src="img/icons/gallery/our_design.png" />
                      <p>تصميماتنا</p>
                      </a>
                  </div>
                  <div class="col-xs-6">
                      <a href="#/tab/other-designs">
                          <img src="img/icons/gallery/other_design.png" />
                      <p>تصميمات اخري</p>
                      </a>
                  </div>
                  <div class="col-xs-6">
                      <a href="#/tab/finished-projects">
                          <img src="img/icons/gallery/finished_projects.png" />
                      <p>مشروعات منتهية</p>
                      </a>
                  </div>
                  <div class="col-xs-6">
                      <a href="#/tab/projects-insite">
                          <img src="img/icons/gallery/projects_insite.png" />
                      <p>مشروعات تحت التنفيذ</p>
                      </a>
                  </div>



              </div>
          </div>
    </section>
  </ion-content>
</ion-view>
