<ion-view>
    <ion-nav-title>
      <div class="container0">
        <a ng-click="myGoBack()"><div class="glyphicon glyphicon-chevron-left btn-lg" style="font-size: 24px; float: left;"></div></a>
          <div class="col-xs-2">
              <div class="logo"></div>
          </div>
          <div class="col-xs-7" style="width: 64%;">
              <input class="pull-right" ng-model="query.title" placeholder="ابحث ..." type="text">
          </div>
      </div>
    </ion-nav-title>
  <div style="margin-top: 55px;">
       <a href="{{adv.url}}"><div class="advs"><img ng-src="http://b-nero.com/app/public/ads/{{adv.img}}" /></div></a>
  </div>
  <ion-content>
      <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <section class="content images-page">
            <div class="projects-container" style="margin-top: 61px;">
                <div ng-repeat="project in filtered = (projects | filter:{title:query.title})" class="grid6">
                    <a href="#/tab/insiteProject-sub-category/{{project.id}}" title="{{project.title}}">
                        <div class="project" style="background-image: url(http://b-nero.com/app/public/projects/{{project.thumbnail}});">
                            <p>
                                <span class="item-price">{{project.title}}</span>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </section>
  </ion-content>
</ion-view>
