<ion-view class="contact-page">
    <ion-nav-title>
      <div class="container0">
          <div class="col-xs-2">
              <div class="logo"></div>
          </div>
          <div class="col-xs-10">
                <a href="{{adv.url}}"><div class="top-advs"><img ng-src="http://b-nero.com/app/public/ads/{{adv.img}}" /></div></a>
          </div>
      </div>
    </ion-nav-title>
  <ion-content scroll="true" class="myContent">
    <section class="content">
        <div class="about-us" id="padding-content">
            <div class="page-title">

                <div class="title-text main-gallery-page-title">تسوق</div>
            </div>
            <div class="clear"></div>
            <div class="main-gallery-content">
                <div ng-repeat="categorie in categories track by $index" class="col-xs-4">
                    <a href="#/tab/shop-sub-categories/{{categorie.id}}">
                      <img ng-src="http://b-nero.com/app/public/shopcats/{{categorie.cat_thumbnail}}" />
                      <p>{{categorie.cat_title}}</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
  </ion-content>
</ion-view>
